<div class="DashboardBox FullWidth">
  <h3>Last Exception</h3>
  <p><%= @last_error.message %></p>
  <div class="Meta">
    <a href="#">4 hours ago</a>
    <a href="#"><%= @last_error.name %></a>
    <a href="#">HTTP 404</a>
  </div>
</div>

<div class="Clear"></div>