<div id="Nav">
  <div id="NavContents">
    <div id="NavLeft">Deviant</div>
    <div id="NavRight">
      <a href="<%= root_path %>">Dashboard</a>
      <a href="<%= root_path %>/search">Search</a>
    </div>
  </div>
</div>