<div class="DashboardBox">
  <h3>Total Exceptions</h3>
  <div class="Number">1,234</div>
</div>

<div class="DashboardBox">
  <h3>Recent Exceptions</h3>
  <div class="Number">15</div>
</div>

<div class="Clear"></div>

<div class="DashboardBox FullWidth">
  <h3>Last Exception</h3>
  <p>There was an error updating stuff for user 6</p>
  <div class="Meta">
    <a href="#">4 hours ago</a>
    <a href="#">HTTP 404</a>
  </div>
</div>

<div class="Clear"></div>