<div class="DashboardBox">
  <h3>Total Exceptions</h3>
  <div class="Number">1,234</div>
</div>

<div class="DashboardBox">
  <h3>Recent Exceptions</h3>
  <div class="Number">15</div>
</div>

<div class="Clear"></div>