<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Deviant</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <%= css :application, media: 'screen' %>
  </head>
  <body>
    <%= erb :_nav %>
    <%= yield %>
  </body>
</html>